version: "3.9"

services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    networks:
      - app-net
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - ./docker-data/mongo:/data/db
    ports:
      - "27017:27017"

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    networks:
      - app-net
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: appdb
    volumes:
      - ./docker-data/mysql:/var/lib/mysql
    ports:
      - "3306:3306"

  # ========== REDIS ==========
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    networks:
      - app-net
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./docker-data/redis:/data
    ports:
      - "6379:6379"

  # ========== NESTJS BACKEND ==========
  backend:
    build: ./backend
    container_name: backend
    restart: always
    networks:
      - app-net
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
      - mysql
      - redis

networks:
  app-net:
    driver: bridge

volumes:
  mongo:
  mysql:
  redis:
